# SAO/LIP Python Primer Course Lecture 2

In this notebook, you will learn about:
- Tuples
- Lists
- Loops
- Functions
- Dictionaries

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/acorreia61201/SAOPythonPrimer/blob/main/lectures/Lecture2.ipynb)

## Tuples

So far, all of the data types we've looked at involve singular values, like numbers or single strings. Oftentimes, especially in scientific programming, you'll want to store or modify multiple values at a time. Python has several data types beyond those we've discussed designed especially for this. 

The simplest of these is the *tuple*, which can be thought of as ordered sequences of objects. They are denoted by comma-separated lists of items encased in parentheses `()`, as shown below.

In [3]:
tuple_eg1 = (1, 2, 3)
type(tuple_eg1)

tuple

The elements can be of any type (even `tuple`), and the elements in a tuple need not be of the same type. For example:

In [4]:
tuple_eg2 = (2, 3.14159, "Hello world", tuple_eg1, True)
type(tuple_eg2)

tuple

Let's say we only want a certain element or series of elements in a tuple. We can do this using *indexing*. In Python, the first element in a tuple is defined to have index 0. If we want to access the first element of the tuple above, we can use the following syntax:

In [5]:
tuple_eg2[0]

2

In general, if we want to access the *n*th element, we use the syntax `tuple[n-1]` to access it. If we want to access the element `tuple_eg1` from above, we would use:

In [6]:
tuple_eg2[3]

(1, 2, 3)

Consequently, trying to call `tuple[n]` in a tuple of length `n` will throw an error:

In [7]:
tuple_eg2[5]

IndexError: tuple index out of range

The inverse is not true, however. A negative number index will count backwards from the last element. For example, to access the last element, we can use:

In [8]:
tuple_eg2[-1]

True

If we want to call multiple values at once, we can use *slicing*. Slices have the syntax `start:stop:step`, where `start` is the first index listed, `stop` is the index after the last index shown, and `step` is the *step size*, which indicates the spacing between elements. If only one colon `:` is included, the step size defaults to 1. All three options must be integers. For example, to get the second through fourth elements in the above tuple, we can use:

In [13]:
tuple_eg2[1:4]

(3.14159, 'Hello world', (1, 2, 3))

If we want to show every other element from start to end, we can use the following, recalling that index -1 represents the last element:

In [20]:
tuple_eg2[0:-1:2]

(2, 'Hello world', True)

There are two options to view the first three elements. Using the above syntax:

In [14]:
tuple_eg2[0:3]

(2, 3.14159, 'Hello world')

We can also leave the first index empty, again noting that the last index is excluded:

In [16]:
tuple_eg2[:3]

(2, 3.14159, 'Hello world')

The same applies for listing the last three elements, except this time the slice includes the first index:

In [18]:
tuple_eg2[2:]

('Hello world', (1, 2, 3), True)

If we wanted to list the elements in reverse order, we can use the following syntax:

In [19]:
tuple_eg2[::-1]

(True, (1, 2, 3), 'Hello world', 3.14159, 2)

If we want to get the total number of elements in a tuple, we can use the built-in function `len`:

In [9]:
len(tuple_eg2)

5

You can also map values from a tuple to a series of variables as follows:

In [10]:
a, b, c = tuple_eg1
print(a, b, c)

1 2 3

However, you need to make sure that the number of variables you're mapping to equals the number of elements in the tuple, or else you'll get an error. (Use `len` to check if you have the right number of variables.)

In [11]:
d, f = tuple_eg1

ValueError: too many values to unpack (expected 2)

## Lists

Another type that allows for storing multiple values is a `list`. These are also ordered sequences of elements of various types, this time encased in brackets `[]`. You can call elements and get the length in the same way as tuples.

So why do we have two different data types that are so similar? The answer lies in what's called *mutability*. Tuples are *immutable*, which means that its elements cannot be modified without redefining the tuple. Lists, meanwhile, are *mutable*, meaning its elements may be modified in-place. This may make lists seem superior, but there is a tradeoff: tuples take up less memory than lists. This tradeoff becomes more noticeable when considering datasets with hundreds or thousands of elements.

All of the above notes on indices and slices hold for lists:

In [21]:
list_eg = [1, 4, 9, 16]

In [23]:
len(list_eg)

4

In [24]:
list_eg[1]

4

In [25]:
list_eg[0:3]

[1, 4, 9]

In [26]:
list_eg[0:-1:2]

[1, 9]

In [28]:
list_eg[2:]

[9, 16]

In [29]:
list_eg[::-1]

[16, 9, 4, 1]

As promised, there's additional functions that allow you to modify the elements of a list. The simplest way to do this is to reassign individual elements by index:

In [30]:
list_eg[0] = 3
list_eg

[3, 4, 9, 16]

There's some nuance to this, however. If you define a list with another list, modifying one will modify the other.

In [31]:
list_mod = list_eg
list_mod[0] = 1
print(list_mod, list_eg)

[1, 4, 9, 16] [1, 4, 9, 16]

However, making a copy by using the `list` function will modify only the new list.

In [32]:
list_mod = list(list_eg)
list_mod[0] = 3
print(list_mod, list_eg)

[3, 4, 9, 16] [1, 4, 9, 16]