# SAO/LIP Python Primer Course Lecture 7

In this notebook, you will learn about:
- File paths and the `os` library
- I/O in base Python
- The `pandas` library
- Reading and viewing files in `pandas`
- Manipulating datasets

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/acorreia61201/SAOPythonPrimer/blob/main/lectures/Lecture7.ipynb)

At the end of our discussion on `numpy`, we started covering the concept of *I/O*, or *input/output*. This is a useful feature that you can use to share or load large datasets. In this lecture, we'll cover two more methods to do this: using base Python, and using an external library `pandas`.

## File Paths

Before we get into that, it's important that we understand how files are stored on your computer. We can use a library `os` to visualize how this works.

In [ ]:
import os

All files on an operating system are located in a *directory*, more commonly known as a folder. Directories can contain files or subdirectories, which themselves may have their own files and subdirectories. Each file has a sequence of directories describing where it is on your system known as a *path*.

This notebook, for example, has a path. If you're currently viewing this notebook, its path will be the *current working directory*. In Python, we can view the current working directory with `os.getcwd()`:

In [ ]:
lecs = os.getcwd()
lecs

This current working directory is populated with some files auto-generated by Colab (if you're using that; you may have some other files if you're running locally). To view them all, we use the *list* command which we call in Python with `os.listdir()`.

In [ ]:
os.listdir()

Each file within the same directory has a unique name with two parts. Each file has a *file name*, which itself contains the *file extension*. File extensions can tell your operating system how to interpret and open files. For example, extensions like `png` and `jpg` are interpreted as images, while extensions like `txt` are interpreted as plain-text files. Each lecture above has the extension `ipynb`, the standard for a Jupyter notebook. 

We can create a new directory in the current working directory using `os.mkdir()`:

In [ ]:
os.mkdir('example_dir')

We can see the new directory using `os.listdir()`:

In [ ]:
os.listdir()

Notice that if we try to add a new directory with the same name we get an error:

In [ ]:
os.mkdir('example_dir')

We can move our current working directory to this new directory using `os.chdir()`:

In [ ]:
os.chdir('example_dir')
os.getcwd()

Let's see what's in this new directory:

In [ ]:
os.listdir()

It returns an empty list. This makes sense; we haven't added anything to it yet. We can, however, view what's in the previous directory (or any directory on the system, for that matter) using an *absolute path*:

In [ ]:
os.listdir(lecs)

There are two special strings that represent `relative paths` to the current directory. The string `.` refers to the current working directory:

In [ ]:
os.listdir('.')

The string `..` refers to the directory above the current working directory:

In [ ]:
os.listdir('..')

We can use this to easily move up one directory in the path:

In [ ]:
os.chdir('..')
os.getcwd()

We can also modify currently existing files. If we want to change the name of the directory we just made, we can use `os.rename()`:

In [ ]:
os.rename('example_dir', 'new_dir')

In [ ]:
os.listdir()

If we want to remove it entirely, we can use `os.remove()`:

In [ ]:
os.rmdir('new_dir')

If we want to remove files, we can instead use `os.remove()`. If you try to remove a directory with this command, you'll get an error:

In [ ]:
os.mkdir('example')

In [ ]:
os.remove('example')

The same is true in reverse (i.e. using `os.rmdir()` on a file). These are the basics of using `os` to view and manipulate files; the full documentation is at https://docs.python.org/3/library/os.html. (There's a lot here; you may be better off doing your own research if you have a specific thing you want to do.)

## I/O in Base Python

Now, let's get to reading and writing files using built-in Python commands. First, we need a file to open. There are two ways to do this. We can download an external file from the internet using the command `wget`. This is a command-line function, so we have to precede it with `!`. For this example, we'll download the Gettysburg Address:

In [ ]:
!wget https://collincapano.com/wp-content/uploads/2023/01/gettysburg_address-bliss_copy.txt

Let's see if it downloaded properly:

In [ ]:
os.listdir()

Let's give it a more concise name using `os`:

In [ ]:
os.rename('gettysburg_address-bliss_copy.txt', 'gettysburg_address.txt')

Alternatively, we can create our own file using the function `open()`. This is one of the primary functions used for I/O. As the name implies, its simplest use is to open a file. However, there are a variety of *modes* we can use, accessible via extra arguments. To create a new file, we pass `'x'` as a second argument, indicating create mode:

In [ ]:
open('new_file.txt', 'x')

Again, we can check that this new file exists using `os`:

In [ ]:
os.listdir()

### Reading Files

Now, let's open the files we've created. We can do this by using `open()` without any extra arguments:

In [ ]:
newfile = open('new_file.txt')
gb = open('gettysburg_address.txt')

By default, `open()` will open a file in read mode. This means that all we can do is look at its contents. To print the contents of a file, we use the method `read()` on one of the objects we've created above. Let's try it with the Gettysburg Address:

In [ ]:
print(gb.read())

Another way we can read the contents of a file is with the method `readlines()`, which we'll try out below:

In [ ]:
gb.readlines()

Nothing printed...what's going on? It turns out that `readlines()` only prints out the lines we haven't viewed yet. Since `read()` with no arguments prints the entire document, additional calls of `read()` will print nothing.

To do this, we'll have to create a new `open()` instance. It's good practice to close any documents you've opened once you're done using them so you don't risk losing data. We can do this with the `close()` method:

In [ ]:
newfile.close()
gb.close()

Now, let's open the Gettysburg Address again, this time using `readlines()`:

In [ ]:
gb = open('gettysburg_address.txt')
print(gb.readlines())
gb.close()

`readlines()` adds all of the lines in the file to a list as individual elements. However, this includes special characters like `\n`, which require a `print()` statament to be interpreted. We can fix this by iterating over the list in a loop, just as we've learned before:

In [ ]:
gb = open('gettysburg_address.txt')
lines = gb.readlines()
for i in lines:
    print(i)
gb.close()

This is pretty close to what's actually in the file. This also has the benefit of interpreting the `\n` files as actual line breaks. We can also write this using the method `readline()`, which reads the first line that hasn't been read yet:

In [ ]:
gb = open('gettysburg_address.txt')
line = gb.readline() # placeholder variable starting at first line
while line != '': # iterate until reaching an empty line
    print(line) # print current line
    line = gb.readline() # redefine placeholder as next line
gb.close()

`read()` has an optional argument that we can pass to control how much information is printed to screen. Inputting an integer argument into `read()` prints out only that number of bytes, or characters. The default value is -1, which prints out all of the bytes in the file. The same is true for `readline()`, although doing the same for `readlines()` will only print the lines with less than the given number of bytes.

In [ ]:
gb = open('gettysburg_address.txt')
print(gb.read(5)) # print 5 characters (spaces included)
print(gb.read(10)) # print 10 characters
print(gb.read(-1)) # print the rest of the characters

### Writing Files

Let's now try printing the contents of `new_file.txt`:

In [ ]:
nf = open('new_file.txt')
print(nf.read())
nf.close()

Just as you'd probably expect, the new file is empty. In order to add text to the file, we'll need to make use of the write mode for `open`. We can do this by opening the file with the argument `"w"`:

In [ ]:
nf = open('new_file.txt', 'w')

We can now add a line to the file using the method `write()`, with the argument being a string you wish to add to the file:

In [ ]:
nf.write('This is a new line of text.')

Let's check the file now:

In [ ]:
nf.read()

Oops, remember that we opened the file in write mode only. This means that we can't apply any of the methods we could use in read mode. Let's close this file to save our changes:

In [ ]:
nf.close()

If we want to both read and write a file, we can open the file in read/write mode. We can do this by using the argument `'r+'`:

In [ ]:
nf = open('new_file.txt', 'r+')

Now, we can read the file however we wish:

In [ ]:
nf.read()

We can also write new lines to the file:

In [ ]:
nf.write('This is also a new line of text.')

Let's check on our changes (remember we have to create a new instance):

In [ ]:
nf.close()
nf = open('new_file.txt', 'r+')
print(nf.read())

The lines we've added insinuate that they have their own lines, but it seems like that's not the case. We'll have to use those special characters we say when reading the lines in Gettysburg Address.

In [ ]:
nf.write('\n')
nf.write('This is actually a new line of text.\n')

In [ ]:
nf.close()
nf = open('new_file.txt', 'r+')
print(nf.read())

If we want to add multiple lines to a text file, we can use `writelines()`, with the input being a list of lines we wish to add. We still have to add the line breaks manually.

In [ ]:
nf.writelines(['This is a line written with writelines().\n', 'Remember to add in the linebreaks manually.\n'])

In [ ]:
nf.close()
nf = open('new_file.txt', 'r+')
print(nf.read())
nf.close() # always remember to close your files

# I/O in `pandas`

Using `open()` is a basic way to read and write the contents of files. If we want to read in large datasets, there's are even more robust ways to do so. We can use a library called `pandas`, the most popular library used for reading data in scientific programming. We'll make sure it's installed and import it as always:

In [ ]:
!pip install pandas

In [ ]:
import pandas as pd

### Introducing `DataFrames`

We can use `pandas` straight out of the box without inputting or outputting anything. We can use `pandas.DataFrame()` to generate a `DataFrame`, the `pandas` equivalent of a table. Let's say for example that I knew the names, ages, and sexes of a group of students in a programming class. To generate a `DataFrame`, I can create a dictionary of lists keyed by these three parameters, with the lists containing the corresponding data:

In [ ]:
data = {'Name': ['Timothy Powers', 'Ashley Brown', 'George Rodriguez'],
        'Age': [23, 19, 22],
        'Sex': ['male', 'female', 'male']}

Then, we can create a `DataFrame` using `pandas.DataFrame()`:

In [ ]:
df = pd.DataFrame(data)

Let's see what was generated:

In [ ]:
df

`pandas` has automatically generated a table from the dictionary we've created. The keys of that dictionary have become the column labels in the first row. The values of each key are the row elements in each column that we assigned in the lists. The row indices are inherited from the elements' indices in the lists we defined. Notice that we can mix and match data types: the Name and Sex columns contain strings, while the Age column contains integers.

We can work with individual columns and assign them to variables. A column in a `DataFrame` is known as a `Series`, and we can call one the same way we'd call a key in a dictionary:

In [ ]:
df['Age']

We can create an individual `Series` using `pandas.Series()`, this time inputting a list of values. We can optionally pass the keyword argument `name` to assign a name to it. For example, let's say I wanted a `Series` containing the above students' grades:

In [ ]:
grades = pd.Series([76, 94, 87], name='Grade')
grades

We can do a multitude of simple statistical analyses of `DataFrame` objects. For example, let's say I wanted to know the maximum age in `df`. I can do the following:

In [ ]:
df['Age'].max()

Or, say I wanted the mean grade in the class:

In [ ]:
grades.mean()

There's another method, `DataFrame.describe()`, that gives some basic statistics of all the numerical data in a table.

In [ ]:
df.describe()

This only shows the statistics for the series 'Age' since it's the only numerical series in `df`. We can do the same with the standalone series `grades`:

In [ ]:
grades.describe()

### Reading and Writing Tables

It's nice to have tables in your current notebook or program, but the real power of `pandas` lies in being able to do I/O with large datasets. There are two main categories of functions in `pandas` that allow us to read in and export files of many different types. The `read_*()` functions are used to read in data as a `DataFrame`, and the `to_*()` functions are used to export a `DataFrame` to an external file. The asterisks are wildcards that refer to different file types; we can import and export anything from *comma-separated value* (CSV) files to *fixed-width files* (FWF) to Excel spreadsheets (XLSX).

For example, let's say I wanted to save `df` as a `csv` file. I can do so using `to_csv()`:

In [ ]:
df.to_csv('class.csv')

I can call the same file using `read_csv()`:

In [ ]:
df_from_csv = pd.read_csv('class.csv')

In [ ]:
df_from_csv

We can instead save the `DataFrame` to a spreadsheet using `to_excel()`:

In [ ]:
df.to_excel('class.xlsx')

However, we can't mix and match file types with `read_*()`. We have to make sure that the read function used to call a file matches the file type. Let's see what happens if I try calling my spreadsheet with `read_csv()`:

In [ ]:
df_from_ss = pd.read_csv('class.xlsx')

Let's read in a csv file containing passenger data from the Titanic. Recall that we can download this from the Internet using `wget`:

In [ ]:
!wget https://raw.githubusercontent.com/pandas-dev/pandas/main/doc/data/titanic.csv

In [ ]:
titanic = pd.read_csv('titanic.csv')
titanic

We can see at the bottom left that this `DataFrame` has 891 rows and 12 columns. `pandas` automatically compactifies this by showing us only the first and last few rows. If we want to specify how many rows or columns we can see, we can use the functions `head()` and `tail()`. `head(n)` prints the first `n` rows:

In [ ]:
titanic.head(10)

To see the last `n` rows, use `tail(n)`:

In [ ]:
titanic.tail(10)

With so many series, it's convenient to keep track of what data types each column contains. We can do so using the attribute `dtypes` on the `DataFrame`:

In [ ]:
titanic.dtypes

This `DataFrame` has three unique types: `int64`, representing integers; `float64`, representing `float`s; and `object`, representing strings.

This information also shows up when we run the method `info()`, which gives some additional technical data about the dataset:

In [ ]:
titanic.info()

This shows a series-by-series breakdown of the types in each column as well as the number of non-null elements in each (i.e. how many elements are not `NaN`). `info()` also gives an approximation of how much memory the `DataFrame` takes up on the bottom.

To get the number of rows and columns in a `DataFrame`, we can use the attribute `shape`:

In [ ]:
titanic.shape

Just like a `numpy` array, the shape of a `DataFrame` is of the form `(rows, columns)`.

### Filtering Data

We can filter rows and columns with many different strategies. We've already seen that individual columns can be called using `DataFrame['column name']`. We can also use this to call multiple columns at a time. For example, let's say I wanted the age and sex of every passenger aboard the Titanic. We could do the following:

In [ ]:
mult_cols = titanic[['Name', 'Age', 'Sex']]
mult_cols

By inputting a list of names instead of just one name, we get a new `DataFrame` with the specified columns only.

Now, let's say I only want to see the passengers that survived the disaster. In the dataset, this is encoded by the Survived column, which has a value of 0 if the passenger survived and 1 if they did not. We can use a Boolean statement to see which rows have a Survived value of 0:

In [ ]:
survived = (titanic['Survived'] == 0)
survived

This returns a `Series` of bools based on whether the condition is satisfied or not. We can pass this as an index in place of a column name to filter out rows:

In [ ]:
survivors = titanic[survived]
survivors

Now, we have a dataset containing only the rows for which the above condition returned `True`. We can check how many people survived using `shape`:

In [ ]:
survivors.shape

A good sanity check would be to ensure that the number of people who survived plus the number of people who didn't is equal to the total number of people. We can make a second `DataFrame` using the opposite truth statement to get the number of casualties:

In [ ]:
casualty = (titanic['Survived'] == 1)
casualties = titanic[casualty]
casualties

We can use the shapes to verify that the survivors plus casualties equals the total passenger count:

In [ ]:
survivors.shape[0] + casualties.shape[0] == titanic.shape[0]

It's usually good practice to do simple sanity checks like this when reading in data to make sure there's no weird or erroneous results.

Let's say I wanted to call specific rows and columns at the same time. For example, let's say I only want the names of the people who survived the Titanic disaster. I can do so using the `loc` operator for my `DataFrame`, which uses the following syntax:

In [ ]:
survivor_names = titanic.loc[survived, 'Name']
survivor_names

The first "index" specifies which rows we want to keep, while the second specifies which columns we want to keep.

If we instead want to select rows and columns based on their positions in the table, we can use `iloc`, which has a similar syntax.

In [ ]:
arb_vals = titanic.iloc[5:15, 3:5]
arb_vals

The first index now contains the slice of desired rows, while the second contains a slice of desired columns.

### Cleaning Up Data

You can't guarantee that a data set you load in will be perfect. Oftentimes, you'll need to use filtering techniques to ensure that data analyses will go smoothly.

Let's use another dataset to demonstrate this. It's called `workout_data.fwf`, signifying it's a fixed-width file; we'll use `read_fwf()` to read it in:

In [ ]:
!wget https://raw.githubusercontent.com/acorreia61201/SAOPythonPrimer/main/files/workout_data.fwf
workout = pd.read_fwf('workout_data.fwf')
workout

We can see a bunch of problems with this data set. There's a bunch of NaNs in the data, one of the entries in the Duration column is an extreme outlier, and one of the entries in the Date column is not a string like the others. We need a way to programmatically handle these issues when doing data analyses.

First, we'll remove any rows that contain empty cells. To do that, we can use a method `dropna()`, which does as it implies; it drops any rows that contain NaNs:

In [ ]:
workout_nonan = workout.dropna()
workout_nonan

It works as advertised; there's now no empty cells in the new `DataFrame`. Notice that this creates a new object rather than modifying the old one; it's generally good practice in data analysis to save the initial data, even if it is erroneous. If we want to change this behavior, we can use the keyword argument `inplace`, which modifies the `DataFrame` in-place if `True`. 

Let's handle the erroneous types in the Date column. We'll use `dtypes` to see what this type should be:

In [ ]:
workout_nonan.dtypes

As we can see by observation, the entries in tha Date column should be strings. In this instance, `pandas` has a special data type, `datetime`, which is essentially a string that can be interpreted as a date or time. We can use the function `to_datetime()` to convert the Date column to `datetime` objects. The input is the `Series` or `DataFrame` we want to convert, and we have to remember to manually do an in-place modification.

In [ ]:
workout_nonan['Date'] = pd.to_datetime(workout_nonan['Date'])
workout_nonan

Notice that it changed the strings, but now the column is consistent:

In [ ]:
workout_nonan.dtypes

We may also run into issues where datasets have duplicated rows. Let's say that the dataset above should only have one entry per day. By observation, we can see that rows 11 and 12 are likely duplicates. `pandas` has a function specially designed for this called `duplicated()`. It returns a Boolean for each row that is duplicated:

In [ ]:
workout_nonan.duplicated()

Here, the function marked row 12 as a duplicate of row 11. To remove these, we can use another specialized function `drop_duplicates()`:

In [ ]:
workout_nodupes = workout_nonan.drop_duplicates()
workout_nodupes

The hardest errors to catch are conceptual errors, which may arise from typos from data entry. For example, looking in the Duration column, we see one value of 450 among a bunch of 45s and 60s. If we're interpreting this column as lengths of workout sessions in minutes, a value of 450 (7.5 hours) is pretty unlikely. 

We could replace this value using `loc()`, but a more programmatic approach would be to apply some filter that either locates or handles typos like this. In this case, we'll set the upper limit for a reasonable workout to be 120 minutes, or 2 hours. To iterate, we can use the attribute `index`, which contains an iterable of the indices of the rows in the dataset.

In [ ]:
for i in workout_nodupes.index: # iterate over rows in DataFrame
    if workout_nodupes.loc[i, 'Duration'] > 120: # check if current row's duration > 120
        workout_nodupes.drop(i, inplace=True) #delete if it is

In [ ]:
workout_good = workout_nodupes
workout_good

### Data Analysis

Once we have a cleaned up dataset that passes our sanity checks, we can do some data analysis. We've already seen some simple calculations using `describe()`, but `pandas` has some functionality built-in to aid in analysis.

`pandas` has a built-in method `corr()`, which calculates the *correlation matrix* between all the numerical columns in the dataset. Let's test it on our clean data:

In [ ]:
workout_good.corr()

The correlation matrix measures how well two variables follow a linear relationship. Its values range from -1 to 1, where 1 indicates a perfect positive linear relationship between variables, -1 indicates a perfect negative linear relationship, and 0 represents no correlation. 

As you can see above, every column has a perfect correlation with itself, which is always true no matter what data you're looking at. The correlations with other columns are all pretty weak, the highest correlation is ~0.5 between Pulse and Calories, which indicates a moderate, but not great, correlation.
This essentially indicates that no one column in our data can be used to predict the linear behavior of any other.

Additionally, `pandas` has support for any `matplotlib` plotting functions, which we can call as methods to the `DataFrame` we want to visualize.

In [ ]:
import matplotlib.pyplot as plt

workout_good.plot('Date', 'Calories') # plot calories burned every day

In [ ]:
workout_good.plot.scatter(x='Pulse', y='Calories') # scatterplot of calories burned vs avg pulse

In [ ]:
workout_good['Calories'].plot.hist() # plot a histogram of calories burned

If you're more comfortable with non-`pandas` syntax or want to use another method of analysis, you can pass `Series` objects as if they were any other iterable. For more general use, you can convert `Series` objects to `numpy` arrays using `to_numpy()`.

In [ ]:
calories = workout_good['Calories'].to_numpy()
pulses = workout_good['Pulse'].to_numpy()

We can now use these however we've used `numpy` arrays thus far:

In [ ]:
plt.scatter(pulses, calories) # plot a scatterplot

In [ ]:
import numpy as np
calories.sum() # get the total number of calories burned

In [ ]:
np.dot(calories, pulses) # take a dot product...even if it doesn't make sense

As always, this is just scratching the surface of what can be done with `pandas`; the official documentation can be found at https://pandas.pydata.org/docs/reference/index.html.