# SAO/LIP Python Primer Course Lecture 2

In this notebook, you will learn about:
- Tuples
- Lists
- Loops
- Boolean logic

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/acorreia61201/SAOPythonPrimer/blob/main/lectures/Lecture2.ipynb)

## Tuples

So far, all of the data types we've looked at involve singular values, like numbers or single strings. Oftentimes, especially in scientific programming, you'll want to store or modify multiple values at a time. Python has several data types beyond those we've discussed designed especially for this. 

The simplest of these is the *tuple*, which can be thought of as ordered sequences of objects. They are denoted by comma-separated lists of items encased in parentheses `()`, as shown below.

In [3]:
tuple_eg1 = (1, 2, 3)
type(tuple_eg1)

tuple

The elements can be of any type (even `tuple`), and the elements in a tuple need not be of the same type. For example:

In [4]:
tuple_eg2 = (2, 3.14159, "Hello world", tuple_eg1, True)
type(tuple_eg2)

tuple

Let's say we only want a certain element or series of elements in a tuple. We can do this using *indexing*. In Python, the first element in a tuple is defined to have index 0. If we want to access the first element of the tuple above, we can use the following syntax:

In [5]:
tuple_eg2[0]

2

In general, if we want to access the *n*th element, we use the syntax `tuple[n-1]` to access it. If we want to access the element `tuple_eg1` from above, we would use:

In [6]:
tuple_eg2[3]

(1, 2, 3)

Consequently, trying to call `tuple[n]` in a tuple of length `n` will throw an error:

In [7]:
tuple_eg2[5]

IndexError: tuple index out of range

The inverse is not true, however. A negative number index will count backwards from the last element. For example, to access the last element, we can use:

In [8]:
tuple_eg2[-1]

True

If we want to call multiple values at once, we can use *slicing*. Slices have the syntax `start:stop:step`, where `start` is the first index listed, `stop` is the index after the last index shown, and `step` is the *step size*, which indicates the spacing between elements. If only one colon `:` is included, the step size defaults to 1. All three options must be integers. For example, to get the second through fourth elements in the above tuple, we can use:

In [13]:
tuple_eg2[1:4]

(3.14159, 'Hello world', (1, 2, 3))

If we want to show every other element from start to end, we can use the following, recalling that index -1 represents the last element:

In [20]:
tuple_eg2[0:-1:2]

(2, 'Hello world', True)

There are two options to view the first three elements. Using the above syntax:

In [14]:
tuple_eg2[0:3]

(2, 3.14159, 'Hello world')

We can also leave the first index empty, again noting that the last index is excluded:

In [16]:
tuple_eg2[:3]

(2, 3.14159, 'Hello world')

The same applies for listing the last three elements, except this time the slice includes the first index:

In [18]:
tuple_eg2[2:]

('Hello world', (1, 2, 3), True)

If we wanted to list the elements in reverse order, we can use the following syntax:

In [19]:
tuple_eg2[::-1]

(True, (1, 2, 3), 'Hello world', 3.14159, 2)

If we want to get the total number of elements in a tuple, we can use the built-in function `len`:

In [9]:
len(tuple_eg2)

5

You can also map values from a tuple to a series of variables as follows:

In [10]:
a, b, c = tuple_eg1
print(a, b, c)

1 2 3

However, you need to make sure that the number of variables you're mapping to equals the number of elements in the tuple, or else you'll get an error. (Use `len` to check if you have the right number of variables.)

In [11]:
d, f = tuple_eg1

ValueError: too many values to unpack (expected 2)

## Lists

Another type that allows for storing multiple values is a `list`. These are also ordered sequences of elements of various types, this time encased in brackets `[]`. You can call elements and get the length in the same way as tuples.

So why do we have two different data types that are so similar? The answer lies in what's called *mutability*. Tuples are *immutable*, which means that its elements cannot be modified without redefining the tuple. Lists, meanwhile, are *mutable*, meaning its elements may be modified in-place. This may make lists seem superior, but there is a tradeoff: tuples take up less memory than lists. This tradeoff becomes more noticeable when considering datasets with hundreds or thousands of elements.

All of the above notes on indices and slices hold for lists:

In [21]:
list_eg = [1, 4, 9, 16]

In [23]:
len(list_eg)

4

In [24]:
list_eg[1]

4

In [25]:
list_eg[0:3]

[1, 4, 9]

In [26]:
list_eg[0:-1:2]

[1, 9]

In [28]:
list_eg[2:]

[9, 16]

In [29]:
list_eg[::-1]

[16, 9, 4, 1]

As promised, there's additional functions that allow you to modify the elements of a list. The simplest way to do this is to reassign individual elements by index:

In [30]:
list_eg[0] = 3
list_eg

[3, 4, 9, 16]

There's some nuance to this, however. If you define a list with another list, modifying one will modify the other.

In [31]:
list_mod = list_eg
list_mod[0] = 1
print(list_mod, list_eg)

[1, 4, 9, 16] [1, 4, 9, 16]

However, making a copy by using the `list` function will modify only the new list.

In [133]:
list_mod = list(list_eg)
list_mod[0] = 3
print(list_mod, list_eg)

[3, 4, 9, 16] [1, 4, 9, 16]

We can use some other commands known as *methods* to add or remove items from a list. If we wanted to add an item to the end of a list, we can use the `append()` method:

In [134]:
list_mod.append(25)
list_mod

[3, 4, 9, 16, 25]

If we wanted to add an item to a specific place somewhere in the list, we can use the `insert()` method. This takes two arguments; the first is the index where you would like to place the element, and the second is the element you wish to place.

In [135]:
list_mod.insert(3, 12)
list_mod

[3, 4, 9, 12, 16, 25]

If we wanted to remove the last element from the list, we can use `pop()`. This will also print the element to screen:

In [136]:
list_mod.pop()

25

In [137]:
list_mod

[3, 4, 9, 12, 16]

If we want to remove any element, there are three options. If we want to remove an element by index, we can use `del()`, which has a different syntax from the methods above:

In [138]:
del list_mod[3]
list_mod

[3, 4, 9, 16]

If we want to remove an element by its value, we can use `remove()`:

In [139]:
list_mod.remove(3)
list_mod

[4, 9, 16]

We can also remove elements at specific indices by passing an argument into `pop()`. This will again print the element to screen, or save its value to a variable as shown here:

In [140]:
rem = list_mod.pop(1)
rem

9

Let's append it to the list again for demonstration purposes:

In [141]:
list_mod.append(rem)
list_mod

[4, 16, 9]

If we want the index of a certain value, we can use the method `index()`:

In [142]:
list_mod.index(16)

1

If we wanted to reverse the order of elements in a list, we can use `reverse()`:

In [143]:
list_mod.reverse()
list_mod

[9, 16, 4]

If we want to organize a list, we can use the method `sort()`. This will default to ascending order for `int`s and `float`s, or alphabetical order for `str`s:

In [144]:
list_mod.append(1)
list_mod

[9, 16, 4, 1]

In [145]:
list_mod.sort()
list_mod

[1, 4, 9, 16]

In [152]:
str_list = ['apples', 'pears', 'bananas', 'blueberries', 'strawberries']
str_list.sort()
str_list

['apples', 'bananas', 'blueberries', 'pears', 'strawberries']

Oftentimes, lists will have duplicate values. There are some additional functionalities for handling this.

In [146]:
list_mod.append(1)
list_mod

[1, 4, 9, 16, 1]

If we want the number of occurrences of an element, we can use `count()`:

In [147]:
list_mod.count(1)

2

What will happen if we pass a duplicate element to `index()`?

In [148]:
list_mod.index(1)

0

What will happen if we pass a duplicate element to `remove()`?

In [149]:
list_mod.remove(1)
list_mod

[4, 9, 16, 1]

Finally, if we want to remove all elements from a list, we can use `clear()`:

In [150]:
list_mod.clear()
list_mod

[]

## Loops

### `for` Loops

We now know how to store and manipulate multiple values in a list. However, oftentimes in scientific computing we want to apply operations to each element more complicated than the simple methods explained above. This is known as *iteration*, and to do this in Python we can use what are called *loops*.

One important built-in function used frequently in loops is `range()`, which automatically creates a sequence of integers. The syntax is very similar to slices, with the general inputs being `range(start, stop, step)`. `start` represents the first value in the list, `stop` represents the integer after the last element, and `step` represents the increment.

By inputting one value, this defaults to a sequence of integers starting at 0 and ending one before the input. You can think `range(i)` as a sequence of length `i` starting at 0:

In [156]:
rng = range(6)
rng

range(0, 6)

There's one problem: `range()` doesn't create a list or tuple; it creates its own data type. If we want to view its contents, we'll have to make use of one of the three most common loops: the `for` loop. Let's write a simple `for` loop that will print the elements of `rng` sequentially to screen:

In [157]:
for i in rng:
    print(i)

0
1
2
3
4
5

This is one of the simplest `for` loops you can write, but the basic syntax is all here. We define a variable `i` used to represent an arbitrary element in our collection of values `rng`. Then, starting from the first element in `rng`, the indented action (the `print` statement) will be carried out one at a time for each element until reaching the end of `rng`. 

Note the indentation on the `print` statement. **Indentation is required for any loop to work**. Unlike other languages like C or Fortran, Python is very particular about indentation in loops or functions (which we'll cover later on). You can use Tab or a couple spaces to create indents, but make sure this is consistent throughout your code.

Let's try another example. Let's say I didn't know about the `len()` function and wanted to count up how many elements are in the list below:

In [209]:
test = [4, 234, 563, 123, 809, 8, 67, 90, 67, 5, 345, 789, 56, 98, 90, 56, 45, 90, 30, 768, 97, 45, 78, 51]

I could just count each element by hand, but we can use a `for` loop for that. First, we can define a variable `counter`, which we set to zero:

In [159]:
counter = 0

Then, we can write a loop that iterates over the list `test`. For each element in `test`, we can add 1 to `counter` in-place:

In [160]:
for i in test:
    counter += 1

Once the `for` loop is finished, we can print the value of `counter` to get the length of the list:

In [161]:
print(counter)

24

Of course, we know that `len()` exists, so we can check this easily.

In [162]:
len(test)

24

(Note: You should usually stick to built-ins whenever possible. As you've seen, it's pretty easy to code up built-ins by hand, but they usually take up much more time and memory. Built-ins are usually built in lower-level languages like C and Fortran, which are generally much faster than anything you could code in Python.)

Notice that I defined `counter` outside of the loop. If I defined it inside of the loop, its value would be reset to 0 at every iteration. Let's see it in action, this time moving `counter = 0` inside the loop:

In [192]:
for i in test:
    counter = 0
    counter += 1
    
print(counter)

1

The value here is now 1, and in fact will always be 1 regardless of the length of list. That's because at each iteration, the value of `counter` is being reset to 0 no matter what the value of `i` is. Remember to be careful of where you're defining variables; it will become more important when we go over functions later on.

Any code we've described thus far works in loops. Let's say I wanted to do a bunch of operations to each element in `test` and save the output to a new list, `test_out`. Rather than individually call all 24 elements in the list and write separate lines of code for each one, I can just use a `for` loop:

In [165]:
test_out = [] # define an empty list for storing values
for i in test:
    i += 5
    i *= 9
    i /= 23
    i *= i
    i -= 432
    i = int(i)
    i = i % 7
    test_out.append(i) # add element to the list when done
    
test_out

[1, 5, 2, 4, 0, 0, 4, 4, 4, 4, 6, 3, 4, 2, 4, 4, 0, 4, 1, 5, 6, 0, 6, 6]

That's the benefit of loops: it makes your code more flexible and less redundant. I could use this loop to act on any list of numbers; I haven't hard-coded anything about the length or elements of `test` anywhere.

### Boolean Logic

There are two other types of loops, but using them effectively requires in-depth knowledge of *Boolean logic*. I briefly mentioned the `bool` data type in Lecture 1, which consists of `True` and `False`. These have exactly the meanings you'd expect: a statement that is true returns `True`, whereas a statement that is false returns `False`.

We can illustrate this by comparing numbers. The operators `>` and `<` determine whether the value to the left is greater than or less than the value on the right, respectively:

In [166]:
3 > 9

False

In [167]:
3 < 9

True

To determine whether two values are equivalent or not, we can use `==` and `!=` respectively:

In [168]:
3 + 5 == 8

True

In [169]:
3 + 5 == 9

False

In [170]:
4 * 7 != 21

True

In [171]:
4 * 7 != 28

False

There are also three *Boolean operators* that can conditionally modify the truth values of statements. These follow the same logic as standard truth tables if you're familiar with those.

The simplest of these is `not`, which flips the truth value of the statement after it:

In [172]:
not 3 + 5 == 8

False

In [177]:
not 3 > 9

True

Another operator is `and`, which returns `True` if all statements are true, or `False` otherwise:

In [178]:
3 + 5 == 8 and 3 < 9

True

In [179]:
3 + 5 > 8 and 3 < 9

False

The last operator is `or`, which returns `True` if at least one statement is true, or `False` if all statements are false:

In [181]:
3 + 5 == 8 or 3 < 9

True

In [182]:
3 + 5 > 8 or 3 < 9

True

In [183]:
3 + 5 > 8 or 3 == 9

False

These can be combined to create more robust statements. Can you guess the truth value of the statement below?

In [185]:
(3 + 5 > 9 and not 3 != 9) or (3 * 5 > 10 or not (9/3 == 3 and 4 + 3 != 6))

True

### `while` Loops

With knowledge of Boolean logic in Python, we can now cover the other two loop types. The simpler of these is the `while` loop, which does the operation inside of the loop as long as the *condition* (the statement following `while`) returns `True`. 

Recall the examples above where we counted the elements in a list `test`. Let's say we wanted to print the first ten elements of `test` to the screen. We can do this with a `while` loop by again defining `counter = 0` outside of the loop. We'll then print the element corresponding to the index `counter` in `test`, and add 1 to `counter` afterwards. Since we want the counter to stop after 10 elements (i.e. after printing `test[9]`), we'll set the condition `while counter < 10`. That way, the loop will run until `counter` is equal to 10, when the statement will become false and the loop will exit.

In [188]:
counter = 0
while counter < 10:
    print(counter, test[counter])
    counter += 1
print('Loop finished')

0 4
1 234
2 563
3 123
4 809
5 8
6 67
7 90
8 67
9 5
Loop finished

`while` loops are very simple, but you should be very careful when implementing them. One of the most dangerous things you can do when writing a loop is using the statement `while True`. Because a statement like this is hard-coded to never be false, the loop will attempt to run infinitely, with the only way to stop it being a keyboard interrupt or a force close of the program. This is an arbitrary example, but similar statements like `while variable > 0` when `variable` is always negative or `while x > 0 or x <= 0` will cause similar runaway loops. It's up to you as the programmer to catch issues like this before running code.

### `if` Loops

The final type of loop we'll cover and the one that gives you the most control over conditional statements is the `if` loop. These types of loops will only run if the condition attached to the `if` statement is true. These `if` statements are commonly used within other loops to control when the code should run.

For example, let's say I wanted to count how many elements in `test` are even. We can use a `for` loop as before to iterate over each element and define a counter outside the loop to count the instances of these numbers. Inside this loop, we can write an `if` statement that prints the current value to the screen and increments the counter if the value is even (i.e. the value *modulo* 2 is zero, or the remainder of the value divided by 2 is zero).

In [190]:
counter = 0
for i in test:
    if i % 2 == 0:
        print(i)
        counter += 1

print('There are {0} even elements in the list'.format(counter))

4
234
8
90
56
98
90
56
90
30
768
78
There are 12 even elements in the list

The `if` statement above is not a proper loop; it's just an extra condition in the `for` loop that runs code when the condition is true. We can construct a full loop out of `if` statements by implementing the `else` and `elif` keywords. Using these, you can iterate over all of the elements in a sequence even if the initial `if` statement isn't always satisfied. 

In the example above, we can add an `else` statement that will handle all of the values that don't fulfill the initial `if` statement condition. In this case, we'll have two counters that count the number of even and odd elements respectively. If an element is even, we'll use the `if` statement above to increment the even counter. Otherwise, we'll use an `else` statement to increment the odd counter (since we know an integer that isn't even must be odd).

In [194]:
even_counter = 0
odd_counter = 0
for i in test:
    if i % 2 == 0: # the code after this statement will only run if the number is even
        even_counter += 1
    else: # the code after this statement will only run if the number is not even (i.e. odd)
        odd_counter += 1

print('There are {0} even elements and {1} odd elements in the list'.format(even_counter, odd_counter))

There are 12 even elements and 12 odd elements in the list

Since integers must be either even or odd, we can check that this is working correctly by checking that `even_counter` and `odd_counter` add up to the length of the list, since the list only has integers in it:

In [195]:
even_counter + odd_counter == len(test)

True

Let's add some `float`s to the list and organize it a little bit:

In [210]:
test.append(235.18)
test.append(342.89)
test.append(789.35)
test.append(452.82)
test.append(12.47)
test.append(75.93)
test.sort()

In general, decimal values have no well-defined definition of parity (i.e. "even-ness" or "odd-ness"), so our code above will be bugged. That is, the code won't return an error, but it will return the wrong result, since it will erroneously say that all of the new entries are odd. How can we fix this?

We can rewrite our code above to cover the three conditions:
- the value *modulo* 2 is zero (and, by definition, is an integer)
- the value *modulo* 2 is not zero and it is an integer
- the value *modulo* 2 is not zero and it is not an integer

One way to do this is with an `elif` statement. These are statements placed before the `else` statement and after the `if` statement, so that if the initial if statement fails, we can pass another condition before diverting automatically to all other cases. Here, we can use our initial `if` statement to increment the even counter, then an `elif` statement to increment the odd counter, and finally an `else` statement to cover all other values (i.e. the `float` values that can neither be even nor odd).

In [201]:
even_counter = 0
odd_counter = 0
float_counter = 0
for i in test:
    if i % 2 == 0: # this code runs if the value is even
        even_counter += 1
    elif i % 2 != 0 and type(i) == int: # this code runs if the value is odd
        odd_counter += 1
    else: # this code runs if the value is neither even nor odd
        float_counter += 1

print('There are {0} even integers, {1} odd integers in the list, and {2} floats'.format(even_counter, odd_counter, float_counter))

There are 12 even integers, 12 odd integers in the list, and 6 floats

Again, we can check that we got all the values by comparing to `len(test)`:

In [202]:
even_counter + odd_counter + float_counter == len(test)

True

This is the simplest structure of a multiconditional `if` statement. You can have as many `elif` statements as you'd like, as long as they're all before the `else` statement.

Alternatively, we could use a *nested `if` statement*. Notice that the even and odd counters only increment if the value is an integer. Therefore, we can have one `if` statement that determines whether a value is an `int` or a `float`. Then, if a value satisfies the `int` condition, we can write another `if` statement inside that condition that determines whether a value is even or odd, just as above:

In [205]:
even_counter = 0
odd_counter = 0
float_counter = 0
for i in test:
    if type(i) == int: # this code runs if the value is is an integer
        if i % 2 == 0: # this code runs if the value is even
            even_counter += 1
        else: # this code runs if the value is odd
            odd_counter += 1
    else: # this code runs if the value is the value is not an integer (i.e. a float)
        float_counter += 1

print('There are {0} even integers, {1} odd integers in the list, and {2} floats'.format(even_counter, odd_counter, float_counter))

There are 12 even integers, 12 odd integers in the list, and 6 floats