# SAO/LIP Python Primer Course Lecture 1

In this notebook, you will learn about:
- Jupyter Notebook basics
- Data types
- Basic arithmetic
- Variables
- Print statements

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/acorreia61201/SAOPythonPrimer/blob/main/lectures/Lecture1.ipynb)

## Intro to Jupyter Notebook

Throughout this week, we will be using Jupyter Notebook during lectures and exercises. It's used throughout software development for visualization and short, modular codes like the ones you'll be seeing this week. There are several ways to download, edit, and run these notebooks:

- For this week, I recommend using Colab (https://colab.research.google.com/). It's an online service that allows you to run notebooks on Google servers and requires no setup. Each notebook in Github should have a link that takes you directly to Colab.

- If you'd prefer, you can also download the notebooks and open them using VSCode or Jupyter Notebook via Anaconda. It takes a bit of work to get these set up, but if you already have them installed it should be relatively easy to get the notebooks working once downloaded.

However you decide to access these notebooks, you should now be able to run the code below. This is a *cell*. You can run the cell below using the play button (in Colab, it will show up to the left when you hover over it). 

Alternatively, you can click on the cell and use one of two keyboard shortcuts:
- Shift + Enter will run the cell and automatically move you to the next cell
- Ctrl/Cmd + Enter will run the cell without moving you forward

For Colab users, you may get a warning on your first run. You can click "Run Anyway" if the notebook comes from a trusted source (which hopefully includes me).

In [2]:
answer = 1 + 3
print(answer)

4

When you ran the above cell, you should notice two things pop up. To the left of the cell, you should see a number in brackets (e.g. `[1]` or `[2]`). This counts the total number of code cells which have run in your notebook. For example, if you ran the above cell once, you should see `[1]`. If you run it again, you should see `[2]`.

You should also see an output just below the cell (in this case, the number 4). Any outputs (including errors) from the cell will be shown below it upon execution. In this case, it prints the variable `answer`, which was defined in the first line as `1 + 3` (if you don't know what printing or variables are, don't worry; we'll cover them later on).

Cells aren't exclusively for writing code. You may have noticed that the text I've written was also done in cells (if you didn't, you can see by double clicking one of the paragraphs above). These are *text cells*, and they're useful for including supplementary text, figures, etc. in your notebook. Text in these cells can be written using Markdown or basic LaTeX syntax, and cannot be run like normal code cells.

Colab allows you to choose between text and code cells upon new cell creation. You can create a new cell after the currently selected cell by using the "+ Code" and "+ Text" options in the top left or when hovering over the line between cells.

If you're using JupyterLab or VSCode, you can instead use the "+" button in the top left or press Esc + B to add a new cell after the one currently selected. There's a dropdown above that allows you to select between Code and Markdown cells, or you can use Esc + M to convert the current cell to Markdown and Esc + Y to convert the current cell to Code.

## Python: First Steps

Now that you have a basic grasp of Jupyter, let's dive into Python. For this week, I'll be using exclusively Python 3.x, the current and most widely-used version of Python. There are some minor differences between this and Python 2.x (mostly regarding print statements), but we can ignore them for now.

### Data Types

A key skill in Python is understanding what *data type* is being output by a code block. There are several data types both built-in to Python and included in separate packages, but there are some that are frequently used throughout all scientific computing.

Nearly all numbers you see are one of two types: `int` or `float`. An `int` is an *integer*, more commonly known as a whole number or a number without decimal places. A `float` is a *floating-point number*, which may contain decimals. 

To check if a number is an `int` or a `float`, you can use the built-in function `type()`, as shown below:

In [4]:
type(3)

int

In [5]:
type(3.14159)

float

The type is retrieved implicitly from the number (i.e. if the number has a decimal point, it's read as a `float`; else it's read as an `int`). Consequently, you can write integers as `float`s by including a decimal point at the end, like so:

In [6]:
type(3.)

float

Nearly all text outputted by Python programs will be a *string* of type `str`. These are denoted by quotation marks (`"`) or asterisks (`'`) around some text. To check, you can again use the `type()` function:

In [7]:
type("Hello World!")

str

You can even print numbers as strings by wrapping them in quotation marks or asterisks:

In [8]:
type("3.14159")

str

There is another type, `bool`, used for *Boolean operators*. These are used exclusively for logic, and primarily consist of `True` and `False`. These will become more significant once we get into loops.

In [9]:
type(True)

bool

There's even a `NoneType`, used for when an object has no value assigned. You'll most often encounter this in errors.

In [12]:
type(None)

NoneType

Sometimes, you can force a value to be of a certain type. For example, if I want a number to be a string, I can use the function `str()` to convert it.

In [13]:
str(3.14159)

'3.14159'

In [15]:
type(str(3.14159))

str

However, you generally can't do the inverse:

In [16]:
float("Hello World!")

ValueError: could not convert string to float: 'Hello World!'

### Basic Arithmetic

The simplest application of Python is as a regular calculator. You can type in any basic arithmetic problem, and you'll get an answer:

In [17]:
3 + 5

8

In [22]:
5 - 3

2

In [24]:
5 * 3

15

It's important to be careful of the syntax for arithmetic operations. As you'd expect, `+`, `-`, `*`, and `/` are used for addition, subtraction, multiplication, and division respectively. You can only use curved parentheses (`()`); brackets (`[]`) and braces (`{}`) won't work. For exponents, use a double asterisk `**`:

In [25]:
2**3

8

You can also use the built-in function `pow()` if you'd prefer:

In [29]:
pow(2, 3)

8

As you'd probably expect, Python uses the standard order of operations (PEMDAS):

In [26]:
2 + 3 * 5

17

In [27]:
3**(1+2)

27

In [28]:
8 + 6 / (1 + 2)

10.0

(Notice in the last example that Python can automatically convert the output of integer division to a `float` if necessary.)

There are two additional operators built into Python, both of which relate to division. A double forward slash `//` performs *floor division*, which gives the largest possible integer value for dividing two numbers.

In [31]:
7 // 3

2

A percent sign `%` performs *modulo division*, which returns the remainder of the division of two numbers.

In [32]:
7 % 3

1

### Floating-Point Precision

Let's try another example, this time using `float`s:

In [38]:
5.1 - 3.1

1.9999999999999996

Wait...that's not right. We should've gotten a value of 2 exactly, but Python gives something a little less than that. What happened?

The answer lies in what's known as *floating-point precision*. When Python stores a number, it doesn't store the exact value. Instead, it stores the number using a certain amount of bits (a.k.a. some combination of powers of 2). Python defaults to using double-precision, which stores numbers on 53 bits. This means that the results from arithmetic can vary from the true value by $\sim 2^{-53} \sim 10^{-16}$, as seen here.

Floating-point precision is unfortunately an annoying fact of Python programming and programming in general; we're sacrificing pinpoint accuracy for storage and performance efficiency. As a programmer, it's your job to spot floating-point errors and create methods to fix them. For example, we could recast the problem above in a few different ways:

In [39]:
(51 - 31)/10

2.0

In [41]:
round(5.1 - 3.1)

2

You will most likely encounter floating-point errors many times this week and throughout the summer. We'll go into some more detail as to how to rectify these errors later on. For now, if you get a weird result that's just a *little bit* off of the expected value, it's probably not your fault.

### Variables

We now have a way to do basic operations. If we want to use a certain value multiple times, it can get pretty tiresome rewriting the same operation over and over or copying the same value to full machine precision. Therefore, we use *variables* to store data for later usage or modification. The syntax is very simple; if I wanted to save the result of `3 + 5, for example, I could write:

In [44]:
x = 3 + 5

The variable `x` has all the properties you'd expect of the result of `3 + 5`:

In [45]:
x

8

In [46]:
type(x)

int

Let's define another variable, `y`:

In [49]:
y = 5 * 4

In [50]:
y

20

These two variables now behave exactly like the numbers they represent:

In [51]:
x + y

28

In [52]:
y / x

2.5

I can change the value of `x` by simply redefining the variable:

In [59]:
x = 9

In [60]:
x

9

Or I can do an *in-place modification* of `x` to change its value without redefining it. To do this, I can use the equals sign `=` preceded by one of the arithmetic operators `+, -, *, /`:

In [61]:
x += 2

In [62]:
x

11

In [63]:
x *= 3

In [64]:
x

33

You can name variables whatever you want, with two exceptions and two suggestions:
- **Variable names cannot start with numbers, but may contain numbers.** That is, `x1` and `x2` are valid names, whereas `1x` is not.
- **Never name a variable after a built-in function or value.** Doing so will break whatever else you try calling later on in your code. Jupyter Notebook and other IDEs (interactive development environments, e.g. VSCode, Spyder, etc) should automatically highlight these values so you know what names to avoid. An example:

In [65]:
pow = 3**2

In [66]:
pow(5, 2)

TypeError: 'int' object is not callable

- **Variable names are case-sensitive.** That is, `quotient` and `Quotient` are different values. For clarity, it may be best to avoid using both of these as variables in the same code.
- **Try to make your variable names short but descriptive.** Some codes can have dozens of different variable names, so giving them short, unilluminating names like `x` and `y` can make it hard to trace back errors. On the other hand, giving overly verbose names like `three_squared` or `numerator_divided_by_denominator` can get cumbersome, especially when you have to use variables several times. Go for something short that you will remember or that someone else (i.e. you several months in the future) can easily decipher.

### The `print` Statement

You've probably noticed that when running a cell, the output is automatically printed out below the cell. This is alright if you have one-line cells, but what if you have multiple lines?

In [67]:
4 + 3
5 * 7

35

You see that only the last line gets printed. If we want to print out both lines, we can use a *`print` statement*. The function `print()` is all we need to implement this:

In [68]:
print(4 + 3)
print(5 * 7)

7
35

You can print any data type using this method. You can even print multiple in one line using comma separation:

In [70]:
print("Hello world!", 5 + 3, True)

Hello world! 8 True

If you want to format the value of a variable when printing a string, you can use *string formatting*. The general syntax is below:

In [74]:
weight = 150
print("Patient weight: {0} pounds".format(weight))

Patient weight: 150 pounds

Each value in the string is replaced with the index of the desired value in the list after the string. In this case, `weight` is the zeroth element in the list (that may seem weird; we'll get into it when we talk about lists) encased in `format()`, so we put `{0}` where we want its value to go. This can be done with multiple values by using a comma-separated list after the string:

In [75]:
height = 71.5
print("Patient is {0} inches tall and weighs {1} pounds".format(height, weight))

Patient is 71.5 inches tall and weighs 150 pounds

There are several options for string formatting, including if you want to print values as integers, percentages, or in scientific notation. There are several online resources that explain every option available to you (e.g. https://www.pythoncheatsheet.org/cheatsheet/string-formatting).